<a href="https://colab.research.google.com/github/junghoum/Hello-world/blob/main/n212-multiple-regression/n212a-multiple-regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 1 / NOTE 2*

# 📝 Assignment
---

# 다중선형회귀(Multiple Linear Regression)

이번 과제에서도 n211 과제 에서 다루었던 housing price dataset을 가지고 배운 내용을 연습해 보겠습니다.
다음 링크에서 다운로드 받아 사용해 주세요. [House Sales in King County, USA](https://www.kaggle.com/harlfoxem/housesalesprediction)

In [50]:
# 데이터는 캐글에서 받으셔도 되고 이 링크에서 불러와도 됩니다.
import pandas as pd
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kc_house_data/kc_house_data.csv')

In [52]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

### 1) 데이터는 May 2014 ~ May 2015 의 2년치 데이터입니다. 2015-01-01 부터 큰 날짜의 데이터는 테스트, 그 이외의 데이터는 훈련 데이터셋으로 나누어 주세요
- **훈련데이터 샘플의 갯수를 제출하세요.**

In [53]:
df['date'] = pd.to_datetime(df['date'])
df['date']

0       2014-10-13
1       2014-12-09
2       2015-02-25
3       2014-12-09
4       2015-02-18
           ...
21608   2014-05-21
21609   2015-02-23
21610   2014-06-23
21611   2015-01-16
21612   2014-10-15
Name: date, Length: 21613, dtype: datetime64[ns]

In [54]:
df['year'] = df['date'].dt.year
df.head()

           id       date     price  ...  sqft_living15  sqft_lot15  year
0  7129300520 2014-10-13  221900.0  ...           1340        5650  2014
1  6414100192 2014-12-09  538000.0  ...           1690        7639  2014
2  5631500400 2015-02-25  180000.0  ...           2720        8062  2015
3  2487200875 2014-12-09  604000.0  ...           1360        5000  2014
4  1954400510 2015-02-18  510000.0  ...           1800        7503  2015

[5 rows x 22 columns]

In [57]:
test_df = df['year']==2015
train_df = df['year']==2014

In [58]:
test_df = df[test_df]
train_df = df[train_df]
test_df.shape, train_df.shape

((6980, 22), (14633, 22))

In [22]:
# import numpy as np


# len(df)

21613

In [18]:
# df['date'] = df['date'].str.replace('T000000','')
# df['date'] = df['date'].astype(int)
# df.dtypes

id                 int64
date               int64
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [24]:
# test_df = df['date']==2015
# test_df

0        False
1        False
2        False
3        False
4        False
         ...
21608    False
21609    False
21610    False
21611    False
21612    False
Name: date, Length: 21613, dtype: bool

### 2) 두 특성(bathrooms, sqft_living)을 사용해서 다중선형회귀 모델을 만들어 보세요
- 학습시 Parameters는 모두 기본값으로 합니다.
- 정규화(normalize) 등 추가적인 데이터처리 없이 진행합니다.
- **테스트세트의 MAE 값을 제출하세요.(소수점 이하 반올림)**

In [83]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [76]:
import matplotlib.pyplot as plt
from matplotlib import style

In [82]:
features = ['bathrooms', 'sqft_living']

X_train = train_df[features]
X_test = test_df[features]

y_train = train_df['price']
y_test = test_df['price']

In [86]:
model.fit(X_train, y_train)
train_y_pred = model.predict(X_train)
train_mae = mean_absolute_error(y_train, train_y_pred)
print(f'훈련 에러:{train_mae:2f}')

훈련 에러:170777.342126

In [87]:
test_y_pred = model.predict(X_test)
test_mae = mean_absolute_error(y_test, test_y_pred)

print(f'테스트 에러:{test_mae:2f}')

테스트 에러:179252.525933

In [60]:
# train_df['price'].mean()
# # 기준모델 (price)

539181.4284152258

In [61]:
# target = 'price'
# y_train = train_df[target]
# y_test = test_df[target]

In [63]:
# predict = y_train.mean()
# predict

539181.4284152258

In [65]:
# from sklearn.metrics import mean_absolute_error


# y_pred = [predict] * len(y_train)
# mae = mean_absolute_error(y_train,y_pred)

# print(f'훈련 에러:{mae:2f}')
# #기준모델로 훈련 애러(MAE)

훈련 에러:233570.834765

In [74]:
# y_pred = [predict] * len(y_test)
# mae2 = mean_absolute_error(y_test, y_pred)

# print(f'테스트 에러: {mae2:2f}')

# # 기준모델로 테스트 에러(MAE)

테스트 에러: 233990.690628

### 3) 모델의 회귀계수(coefficients)와 절편(intercept)을 확인해 보세요.
- **sqft_living의 회귀계수를 제출하세요.(소수점 이하 반올림)**

In [110]:
print('sqft_living \n회귀계수:', model.coef_[1])
print('절   편:', model.intercept_)

sqft_living
회귀계수: 286.1375355497683
절   편: -50243.56279640319

### 4) MSE, RMSE, MAE, $R^2$ 를 훈련/테스트 데이터에 대해 확인해 보세요
- **테스트 데이터에 대한 MSE, MAE, RMSE, $R^2$ 값을 올바르게 적은 보기를 고르세요.(소수점 두자리수 이하 반올림)**

In [111]:
train_mse = mean_squared_error(y_train, train_y_pred)
test_mse = mean_squared_error(y_test, test_y_pred)

train_rmse = train_mse ** 0.5
test_rmse = test_mse ** 0.5

train_mae = mean_absolute_error(y_train, train_y_pred)
test_mae = mean_absolute_error(y_test, test_y_pred)

train_r2 = r2_score(y_train, train_y_pred)
test_r2 = r2_score(y_test, test_y_pred)

In [112]:
print(f'훈련 에러 MSE: {train_mse:.2f}')
print(f'테스트 에러 MSE: {test_mse:.2f}')
print(f'훈련 에러 RMSE: {train_rmse:.2f}')
print(f'테스트 에러 RMSE: {test_rmse:.2f}')
print(f'훈련 에러 MAE: {train_mae:.2f}')
print(f'테스트 에러 MAE: {test_mae:.2f}')
print(f'훈련 에러 R2: {train_r2:.2f}')
print(f'테스트 에러 R2: {test_r2:.2f}')

훈련 에러 MSE: 67099053309.95
테스트 에러 MSE: 71083994178.76
훈련 에러 RMSE: 259034.85
테스트 에러 RMSE: 266615.82
훈련 에러 MAE: 170777.34
테스트 에러 MAE: 179252.53
훈련 에러 R2: 0.51
테스트 에러 R2: 0.46

MSE:131643202775.22
MAE:233990.69
RSME:362826.68
R2:-0.00

## 🔥도전과제

### 공지로 안내드리는 Github - Discussion 페이지에 올려 보세요:)

### 5)  EDA를 진행하시고, 두개 이상의 특성을 선택하여 특성공학(feature engineering)을 진행한 후 아래의 질문들에 대한 본인만의 리포트를 작성해보시고 서로 논해 보세요. 
- 어떤 이유에서 해당 특성공학을 진행하셨나요? 특성공학을 통해 기대하는 효과는 무엇이었나요? 만약 얻고자 하는 효과를 얻지 못했다면 이유는 무엇이며 어떤 액션을 추가할 수 있을까요? 
- 특성공학을 거친 특성을 포함해 다수의 특성을 사용한 모델을 학습하고 테스트 데이터에 대해 MSE, RMSE, MAE, R2 스코어는 어떠한가요? 해당 결과를 통해 얻을 수 있는 인사이트는 어떤 것이 있었나요? 
- 만들어진 회귀계수를 사용해 모델을 설명해 본다면? 
- 만들어진 모델은 과소적합인가요? 과대적합인가요? 일반화가 잘 된 모델을 만들기 위해 추가로 할 수 있는 액션은 어떤 것이 있을까요? 

※kaggle notebook에서도 힌트를 얻어 보세요.

## 참고자료
* [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
* ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)
* [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf)
* [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
* [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)