<a href="https://colab.research.google.com/github/junghoum/Hello-world/blob/main/n212-multiple-regression/n212a-multiple-regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 1 / NOTE 2*

# ğŸ“ Assignment
---

# ë‹¤ì¤‘ì„ í˜•íšŒê·€(Multiple Linear Regression)

ì´ë²ˆ ê³¼ì œì—ì„œë„ n211 ê³¼ì œ ì—ì„œ ë‹¤ë£¨ì—ˆë˜ housing price datasetì„ ê°€ì§€ê³  ë°°ìš´ ë‚´ìš©ì„ ì—°ìŠµí•´ ë³´ê² ìŠµë‹ˆë‹¤.
ë‹¤ìŒ ë§í¬ì—ì„œ ë‹¤ìš´ë¡œë“œ ë°›ì•„ ì‚¬ìš©í•´ ì£¼ì„¸ìš”. [House Sales in King County, USA](https://www.kaggle.com/harlfoxem/housesalesprediction)

In [50]:
# ë°ì´í„°ëŠ” ìºê¸€ì—ì„œ ë°›ìœ¼ì…”ë„ ë˜ê³  ì´ ë§í¬ì—ì„œ ë¶ˆëŸ¬ì™€ë„ ë©ë‹ˆë‹¤.
import pandas as pd
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kc_house_data/kc_house_data.csv')

In [52]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

### 1) ë°ì´í„°ëŠ” May 2014 ~ May 2015 ì˜ 2ë…„ì¹˜ ë°ì´í„°ì…ë‹ˆë‹¤. 2015-01-01 ë¶€í„° í° ë‚ ì§œì˜ ë°ì´í„°ëŠ” í…ŒìŠ¤íŠ¸, ê·¸ ì´ì™¸ì˜ ë°ì´í„°ëŠ” í›ˆë ¨ ë°ì´í„°ì…‹ìœ¼ë¡œ ë‚˜ëˆ„ì–´ ì£¼ì„¸ìš”
- **í›ˆë ¨ë°ì´í„° ìƒ˜í”Œì˜ ê°¯ìˆ˜ë¥¼ ì œì¶œí•˜ì„¸ìš”.**

In [53]:
df['date'] = pd.to_datetime(df['date'])
df['date']

0       2014-10-13
1       2014-12-09
2       2015-02-25
3       2014-12-09
4       2015-02-18
           ...
21608   2014-05-21
21609   2015-02-23
21610   2014-06-23
21611   2015-01-16
21612   2014-10-15
Name: date, Length: 21613, dtype: datetime64[ns]

In [54]:
df['year'] = df['date'].dt.year
df.head()

           id       date     price  ...  sqft_living15  sqft_lot15  year
0  7129300520 2014-10-13  221900.0  ...           1340        5650  2014
1  6414100192 2014-12-09  538000.0  ...           1690        7639  2014
2  5631500400 2015-02-25  180000.0  ...           2720        8062  2015
3  2487200875 2014-12-09  604000.0  ...           1360        5000  2014
4  1954400510 2015-02-18  510000.0  ...           1800        7503  2015

[5 rows x 22 columns]

In [57]:
test_df = df['year']==2015
train_df = df['year']==2014

In [58]:
test_df = df[test_df]
train_df = df[train_df]
test_df.shape, train_df.shape

((6980, 22), (14633, 22))

In [22]:
# import numpy as np


# len(df)

21613

In [18]:
# df['date'] = df['date'].str.replace('T000000','')
# df['date'] = df['date'].astype(int)
# df.dtypes

id                 int64
date               int64
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [24]:
# test_df = df['date']==2015
# test_df

0        False
1        False
2        False
3        False
4        False
         ...
21608    False
21609    False
21610    False
21611    False
21612    False
Name: date, Length: 21613, dtype: bool

### 2) ë‘ íŠ¹ì„±(bathrooms, sqft_living)ì„ ì‚¬ìš©í•´ì„œ ë‹¤ì¤‘ì„ í˜•íšŒê·€ ëª¨ë¸ì„ ë§Œë“¤ì–´ ë³´ì„¸ìš”
- í•™ìŠµì‹œ ParametersëŠ” ëª¨ë‘ ê¸°ë³¸ê°’ìœ¼ë¡œ í•©ë‹ˆë‹¤.
- ì •ê·œí™”(normalize) ë“± ì¶”ê°€ì ì¸ ë°ì´í„°ì²˜ë¦¬ ì—†ì´ ì§„í–‰í•©ë‹ˆë‹¤.
- **í…ŒìŠ¤íŠ¸ì„¸íŠ¸ì˜ MAE ê°’ì„ ì œì¶œí•˜ì„¸ìš”.(ì†Œìˆ˜ì  ì´í•˜ ë°˜ì˜¬ë¦¼)**

In [83]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [76]:
import matplotlib.pyplot as plt
from matplotlib import style

In [82]:
features = ['bathrooms', 'sqft_living']

X_train = train_df[features]
X_test = test_df[features]

y_train = train_df['price']
y_test = test_df['price']

In [86]:
model.fit(X_train, y_train)
train_y_pred = model.predict(X_train)
train_mae = mean_absolute_error(y_train, train_y_pred)
print(f'í›ˆë ¨ ì—ëŸ¬:{train_mae:2f}')

í›ˆë ¨ ì—ëŸ¬:170777.342126

In [87]:
test_y_pred = model.predict(X_test)
test_mae = mean_absolute_error(y_test, test_y_pred)

print(f'í…ŒìŠ¤íŠ¸ ì—ëŸ¬:{test_mae:2f}')

í…ŒìŠ¤íŠ¸ ì—ëŸ¬:179252.525933

In [60]:
# train_df['price'].mean()
# # ê¸°ì¤€ëª¨ë¸ (price)

539181.4284152258

In [61]:
# target = 'price'
# y_train = train_df[target]
# y_test = test_df[target]

In [63]:
# predict = y_train.mean()
# predict

539181.4284152258

In [65]:
# from sklearn.metrics import mean_absolute_error


# y_pred = [predict] * len(y_train)
# mae = mean_absolute_error(y_train,y_pred)

# print(f'í›ˆë ¨ ì—ëŸ¬:{mae:2f}')
# #ê¸°ì¤€ëª¨ë¸ë¡œ í›ˆë ¨ ì• ëŸ¬(MAE)

í›ˆë ¨ ì—ëŸ¬:233570.834765

In [74]:
# y_pred = [predict] * len(y_test)
# mae2 = mean_absolute_error(y_test, y_pred)

# print(f'í…ŒìŠ¤íŠ¸ ì—ëŸ¬: {mae2:2f}')

# # ê¸°ì¤€ëª¨ë¸ë¡œ í…ŒìŠ¤íŠ¸ ì—ëŸ¬(MAE)

í…ŒìŠ¤íŠ¸ ì—ëŸ¬: 233990.690628

### 3) ëª¨ë¸ì˜ íšŒê·€ê³„ìˆ˜(coefficients)ì™€ ì ˆí¸(intercept)ì„ í™•ì¸í•´ ë³´ì„¸ìš”.
- **sqft_livingì˜ íšŒê·€ê³„ìˆ˜ë¥¼ ì œì¶œí•˜ì„¸ìš”.(ì†Œìˆ˜ì  ì´í•˜ ë°˜ì˜¬ë¦¼)**

In [110]:
print('sqft_living \níšŒê·€ê³„ìˆ˜:', model.coef_[1])
print('ì ˆ   í¸:', model.intercept_)

sqft_living
íšŒê·€ê³„ìˆ˜: 286.1375355497683
ì ˆ   í¸: -50243.56279640319

### 4) MSE, RMSE, MAE, $R^2$ ë¥¼ í›ˆë ¨/í…ŒìŠ¤íŠ¸ ë°ì´í„°ì— ëŒ€í•´ í™•ì¸í•´ ë³´ì„¸ìš”
- **í…ŒìŠ¤íŠ¸ ë°ì´í„°ì— ëŒ€í•œ MSE, MAE, RMSE, $R^2$ ê°’ì„ ì˜¬ë°”ë¥´ê²Œ ì ì€ ë³´ê¸°ë¥¼ ê³ ë¥´ì„¸ìš”.(ì†Œìˆ˜ì  ë‘ìë¦¬ìˆ˜ ì´í•˜ ë°˜ì˜¬ë¦¼)**

In [111]:
train_mse = mean_squared_error(y_train, train_y_pred)
test_mse = mean_squared_error(y_test, test_y_pred)

train_rmse = train_mse ** 0.5
test_rmse = test_mse ** 0.5

train_mae = mean_absolute_error(y_train, train_y_pred)
test_mae = mean_absolute_error(y_test, test_y_pred)

train_r2 = r2_score(y_train, train_y_pred)
test_r2 = r2_score(y_test, test_y_pred)

In [112]:
print(f'í›ˆë ¨ ì—ëŸ¬ MSE: {train_mse:.2f}')
print(f'í…ŒìŠ¤íŠ¸ ì—ëŸ¬ MSE: {test_mse:.2f}')
print(f'í›ˆë ¨ ì—ëŸ¬ RMSE: {train_rmse:.2f}')
print(f'í…ŒìŠ¤íŠ¸ ì—ëŸ¬ RMSE: {test_rmse:.2f}')
print(f'í›ˆë ¨ ì—ëŸ¬ MAE: {train_mae:.2f}')
print(f'í…ŒìŠ¤íŠ¸ ì—ëŸ¬ MAE: {test_mae:.2f}')
print(f'í›ˆë ¨ ì—ëŸ¬ R2: {train_r2:.2f}')
print(f'í…ŒìŠ¤íŠ¸ ì—ëŸ¬ R2: {test_r2:.2f}')

í›ˆë ¨ ì—ëŸ¬ MSE: 67099053309.95
í…ŒìŠ¤íŠ¸ ì—ëŸ¬ MSE: 71083994178.76
í›ˆë ¨ ì—ëŸ¬ RMSE: 259034.85
í…ŒìŠ¤íŠ¸ ì—ëŸ¬ RMSE: 266615.82
í›ˆë ¨ ì—ëŸ¬ MAE: 170777.34
í…ŒìŠ¤íŠ¸ ì—ëŸ¬ MAE: 179252.53
í›ˆë ¨ ì—ëŸ¬ R2: 0.51
í…ŒìŠ¤íŠ¸ ì—ëŸ¬ R2: 0.46

MSE:131643202775.22
MAE:233990.69
RSME:362826.68
R2:-0.00

## ğŸ”¥ë„ì „ê³¼ì œ

### ê³µì§€ë¡œ ì•ˆë‚´ë“œë¦¬ëŠ” Github - Discussion í˜ì´ì§€ì— ì˜¬ë ¤ ë³´ì„¸ìš”:)

### 5)  EDAë¥¼ ì§„í–‰í•˜ì‹œê³ , ë‘ê°œ ì´ìƒì˜ íŠ¹ì„±ì„ ì„ íƒí•˜ì—¬ íŠ¹ì„±ê³µí•™(feature engineering)ì„ ì§„í–‰í•œ í›„ ì•„ë˜ì˜ ì§ˆë¬¸ë“¤ì— ëŒ€í•œ ë³¸ì¸ë§Œì˜ ë¦¬í¬íŠ¸ë¥¼ ì‘ì„±í•´ë³´ì‹œê³  ì„œë¡œ ë…¼í•´ ë³´ì„¸ìš”. 
- ì–´ë–¤ ì´ìœ ì—ì„œ í•´ë‹¹ íŠ¹ì„±ê³µí•™ì„ ì§„í–‰í•˜ì…¨ë‚˜ìš”? íŠ¹ì„±ê³µí•™ì„ í†µí•´ ê¸°ëŒ€í•˜ëŠ” íš¨ê³¼ëŠ” ë¬´ì—‡ì´ì—ˆë‚˜ìš”? ë§Œì•½ ì–»ê³ ì í•˜ëŠ” íš¨ê³¼ë¥¼ ì–»ì§€ ëª»í–ˆë‹¤ë©´ ì´ìœ ëŠ” ë¬´ì—‡ì´ë©° ì–´ë–¤ ì•¡ì…˜ì„ ì¶”ê°€í•  ìˆ˜ ìˆì„ê¹Œìš”? 
- íŠ¹ì„±ê³µí•™ì„ ê±°ì¹œ íŠ¹ì„±ì„ í¬í•¨í•´ ë‹¤ìˆ˜ì˜ íŠ¹ì„±ì„ ì‚¬ìš©í•œ ëª¨ë¸ì„ í•™ìŠµí•˜ê³  í…ŒìŠ¤íŠ¸ ë°ì´í„°ì— ëŒ€í•´ MSE, RMSE, MAE, R2 ìŠ¤ì½”ì–´ëŠ” ì–´ë– í•œê°€ìš”? í•´ë‹¹ ê²°ê³¼ë¥¼ í†µí•´ ì–»ì„ ìˆ˜ ìˆëŠ” ì¸ì‚¬ì´íŠ¸ëŠ” ì–´ë–¤ ê²ƒì´ ìˆì—ˆë‚˜ìš”? 
- ë§Œë“¤ì–´ì§„ íšŒê·€ê³„ìˆ˜ë¥¼ ì‚¬ìš©í•´ ëª¨ë¸ì„ ì„¤ëª…í•´ ë³¸ë‹¤ë©´? 
- ë§Œë“¤ì–´ì§„ ëª¨ë¸ì€ ê³¼ì†Œì í•©ì¸ê°€ìš”? ê³¼ëŒ€ì í•©ì¸ê°€ìš”? ì¼ë°˜í™”ê°€ ì˜ ëœ ëª¨ë¸ì„ ë§Œë“¤ê¸° ìœ„í•´ ì¶”ê°€ë¡œ í•  ìˆ˜ ìˆëŠ” ì•¡ì…˜ì€ ì–´ë–¤ ê²ƒì´ ìˆì„ê¹Œìš”? 

â€»kaggle notebookì—ì„œë„ íŒíŠ¸ë¥¼ ì–»ì–´ ë³´ì„¸ìš”.

## ì°¸ê³ ìë£Œ
* [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
* ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)
* [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf)
* [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
* [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)